/* PC */
/* @media (min-width: 1024px) {

} */

/* TABLET */
/* @media (min-width: 740px) (max-width: 1023px) {
    
} */

/* TABLET & MOBILE */
@media (max-width: 64em) {
    .tour .buy-ticket-btn {
        padding: 15px 16px;
    }

    .contact-input {
        padding: 15px;
    }

    .contact-send-btn {
        padding: 16px 24px;
    }

    .footer-icon {
        font-size: 30px;
        margin: 6px;
    }

    .contact-info-item {
        line-height: 1.9;
    }
}


/* MOBILE */
@media (max-width: 46.1875em) {
    #header {
        overflow: hidden;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav > li > a {
        display: block;
    }

    .sub-nav {
        position: initial;
        background: #333;
    }

    .sub-nav li a {
        color: #fff;
        padding: 14px 40px;
    }

    .search-btn {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .slider-content-wrapper {
        display: none;
    }

    .s-col-full {
        width: 100%;
        margin-bottom: 16px;
    }

    .s-full-width {
        width: 100%;
    }

    .contact-input {
        width: 100%;
        margin-top: 8px;
    }

}